<div class="fi">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
        </div>
    <div class="chart">
        <div class="top">
            <div class="cal">
                <div class="cart-body">
                    <p> Revenue</p>
                    <div class="price">
                        <h5>$ 2.410</h5>
                        <p>-11.4</p>
                    </div>
                    <p>Compair To Last Month</p>
                </div>

            </div>
            <div class="cal">
                <div class="cart-body">
                    <p> Sale</p>
                    <div class="price">
                        <h5>$ 2.410</h5>
                        <p>-11.4</p>
                    </div>
                    <p>Compair To Last Month</p>
                </div>

            </div>
            <div class="cal">
                <div class="cart-body">
                    <p> Cost</p>
                    <div class="price">
                        <h5>$ 2.410</h5>
                        <p>-11.4</p>
                    </div>
                    <p>Compair To Last Month</p>
                </div>

            </div>
        </div>
        <div class="box">
            <div [chart]="chart"></div>

        </div>
        <div class="bottm">
            <div class="member">
                <div>
                    <h2>New Join Member</h2>
                </div>
                <div class="info">
                    <div class="image">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg"
                            alt="">
                    </div>
                    <div class="name">
                        <h6>Ganesh sadar</h6>
                        <p> Software Engineer</p>
                    </div>
                    <div class="icon">
                        <mat-icon>visibility</mat-icon>
                        Display
                    </div>
                </div>
                <div class="info">
                    <div class="image">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg"
                            alt="">
                    </div>
                    <div class="name">
                        <h6>Ganesh sadar</h6>
                        <p> Software Engineer</p>
                    </div>
                    <div class="icon">
                        <mat-icon>visibility</mat-icon>
                        Display
                    </div>
                </div>
                <div class="info">
                    <div class="image">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg"
                            alt="">
                    </div>
                    <div class="name">
                        <h6>Ganesh sadar</h6>
                        <p> Software Engineer</p>
                    </div>
                    <div class="icon">
                        <mat-icon>visibility</mat-icon>
                        Display
                    </div>
                </div>
                <div class="info">
                    <div class="image">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg"
                            alt="">
                    </div>
                    <div class="name">
                        <h6>Ganesh sadar</h6>
                        <p> Software Engineer</p>
                    </div>
                    <div class="icon">
                        <mat-icon>visibility</mat-icon>
                        Display
                    </div>
                </div>
            </div>
            <div class="tranzaction">
                <div>
                    <h2>Latest Tranzection</h2>
                </div>
                <div class="tran">
                    <table class="table">
                        <thead>
                            <tr class="tr">
                                <th>Customer</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="ico"> <mat-icon>account_circle</mat-icon>
                                    Ganesh</td>
                                <td> 10/11/1998</td>
                                <td>$34.98</td>
                                <td> gggg</td>
                            </tr>
                            <tr>
                                <td class="ico"> <mat-icon>account_circle</mat-icon>
                                    Ganesh</td>
                                <td> 10/11/1998</td>
                                <td>$34.98</td>
                                <td> gggg</td>
                            </tr>
                            <tr>
                                <td class="ico"> <mat-icon>account_circle</mat-icon>
                                    Ganesh</td>
                                <td> 10/11/1998</td>
                                <td>$34.98</td>
                                <td> gggg</td>
                            </tr>
                            <tr>
                                <td class="ico"> <mat-icon>account_circle</mat-icon>
                                    Ganesh</td>
                                <td> 10/11/1998</td>
                                <td>$34.98</td>
                                <td> gggg</td>
                            </tr>
                            <tr>
                                <td class="ico"> <mat-icon>account_circle</mat-icon>
                                    Ganesh</td>
                                <td> 10/11/1998</td>
                                <td>$34.98</td>
                                <td> gggg</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

    
</div>
