.hom{
    display: flex;
    gap: 18px;
    margin-left: 35px;
    padding: 4px;
    cursor: pointer;
}
.tre{
    display: flex;
    gap: 18px;
}
.anly{
    display: flex;
    gap: 18px;
}
.main{
    margin-top: 20px;
   
  position: fixed;
  height: 630px;
  width: 250px;
    background-color: rgb(241, 237, 232);
    
   
}
.title h3{
    
    margin-left: 20px;
}
.bg{
    background-color: rgb(171, 214, 200);
    border-radius: 10px;
    margin-right: 20px;
}