<div class="clo">


    <div class="main">
        <div>
            <h2>Ganesh</h2>
        </div>
        <div>

            <div class="title">
                <h3>Dashbord</h3>
            </div>
            <div class="hom bg" routerLink="/dashbord">
                <mat-icon>home</mat-icon>
                Home
            </div>
            <div class="hom ">
                <mat-icon>timeline</mat-icon>
                Analytics
            </div>
            <div class="hom">
                <mat-icon>trending_up</mat-icon>
                Sales

            </div>
        </div>
        <div>
            <div class="title">
            <h3>Quick Menu</h3>
        </div>
            <div class="hom bg" routerLink="/user">
                <mat-icon>supervised_user_circle</mat-icon>
                Users
            </div>
            <div class="hom">
                <mat-icon> local_grocery_store</mat-icon>
                Products

            </div>
            <div class="hom">
                <mat-icon class="icon">account_balance_wallet</mat-icon>
                Transaction
            </div>
            <div class="hom">
                <mat-icon class="icon">reports</mat-icon>
                Reports
            </div>
        </div>
        <div>
            <div  class="title">
            <h3>Notification</h3>
        </div>
            <div class="hom bg">
                <mat-icon>mail</mat-icon>
                Mail
            </div>
            <div class="hom">
                <mat-icon class="icon">feedback</mat-icon>
                Feedback
            </div>
            <div class="hom">
                <mat-icon class="icon"> message</mat-icon>
                Messages
            </div>
        </div>
        <div>
            <div  class="title">
            <h3>Staff</h3>
        </div>
            <div class="hom bg">
                <mat-icon class="icon">manage</mat-icon>
                Manag
            </div>
            <div class="hom">
                <mat-icon>timeline</mat-icon>
                Analytics

            </div>
            <div class="hom">
                <mat-icon class="icon">reports</mat-icon>
                Reports

            </div>
        </div>
    </div>
</div>